<label for="objetivo">Ubicación objetivo</label>
<input type="text" id="objetivo" [(ngModel)]="ubicacionObjetivo">
  
<label for="opera">La sonda está operando</label>
<select id="opera" [(ngModel)]="enOperacion">
  <option value="si">Si</option>
  <option value="no">No</option>
</select>

<label for="distancia">Distancia hasta la tierra</label>
<input type="number" id="distancia" [(ngModel)]="distanciaDeTierra">

<label for="aterriza">Puede aterrizar</label>
<select id="aterriza" [(ngModel)]="puedeAterrizar">
  <option value="si">Si</option>
  <option value="no">No</option>
</select>

<label for="sistema">Sistema de aterrizaje</label>
<input type="text" id="sistema" [(ngModel)]="sistemaDeAterrizaje" (change)="agregarInformacion()">